<!DOCTYPE html>
<html>
<head>

<link th:href="@{/style.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/styleBootstrap/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/styleBootstrap/jquery/jquery.min.js}"></script>  
    <script th:src="@{/styleBootstrap/popper/popper.min.js}"></script>  
    <script th:src="@{/styleBootstrap/bootstrap/js/bootstrap.min.js}"></script>
<meta charset="utf-8">
<title>Page Principal</title>
</head>
<body>
<header>
<h1>Bienvenu sur todoApp</h1>
</header>
<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
	<button class="btn btn-outline-secondary mr-2" onclick="window.location.href='/ajouterTache';">Ajouter Tache</button>
	
	<form method="post" th:action="@{/logout}"><button type="submit" class="btn btn-outline-danger"> Déconnexion</button></form>
</div>
<div class="mb-5">
	<form method="get" th:action="@{/}">
		<div class="form-group">
			<label>Recherche par nom et date de création de tache:</label>
			<input type="text" name="nom_recherche" class="form-control" />
		</div>
		<div class="form-group">
			<input type="date" name="date1" class="form-control"/>
		</div>
		<div class="form-group">
			<input type="date" name="date2" class="form-control"/>
		</div>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
			<button type="submit" class="btn btn-primary">Filter</button>
		</div>
	</form>
</div>
<table class="table table-hover ">
 	<thead>
	<tr>
			<th>Etat</th>
	        <th>Titre</th>
	        <th>Dernière modifiaction</th>
	        <th>Au plus tard</th>
	        <th style="width: 40%"></th>
	        <th></th>
	</tr>
	</thead>
	
	<tr th:each="tache: ${taches}">
		<td>
		
			<form method="post" th:action="@{/etatTache(id=${tache.id})}">
				<input type="checkbox" th:checked="${tache.etat}" onChange="this.form.submit()"/>
				<p th:if="${tache.etat}" th:text="${#dates.format(tache.date_cloture, 'dd MMM yyyy')}"></p>
			</form>
		</td>
		<td th:text="${tache.titre}"></td>
		<td th:text="${#dates.format(tache.date_derniere_modif, 'dd MMM yyyy')} "></td>	
		<td th:text="${#dates.format(tache.date_prevu_fin, 'dd MMM yyyy')} "></td>	
		<td style="width: 40%">
		
		<p>
		  <a class="btn btn-primary" data-toggle="collapse" th:href="'#'+${tache.id}" role="button" aria-expanded="false" th:aria-controls="${tache.id}">Description</a>
		</p>
		<div class="row">
		  <div class="col">
		    <div class="collapse multi-collapse" th:id="${tache.id}">
		      <div class="card card-body" th:text="${tache.description}">
		        
		        </div>
		    </div>
		  </div>
		 </div>
		</td>
		<td>
		<div class="btn-group" role="group" aria-label="Basic mixed styles example">
			<a th:href=@{/modifTache(id=${tache.id})}><button class="btn btn-outline-primary mr-1">Modifier</button></a>
			<form method="post" th:action="@{/suppTache(id=${tache.id})}">
				<button type="submit" class="btn btn-outline-danger">Supprimer</button>
			</form>
		</td>
	</tr>
</table>
</body>
</html>